<form [formGroup]="studentFormGroup">
  <mat-form-field>
    <mat-label>Enter Your FirsName</mat-label>
    <input matInput placeholder="name" formControlName="firstName" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter Your LastName</mat-label>
    <input
      matInput
      placeholder="lastName"
      formControlName="lastName"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter Your Age</mat-label>
    <input matInput placeholder="age" formControlName="age" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Your Email</mat-label>
    <input matInput placeholder="email" formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Your Password</mat-label>
    <input
      matInput
      placeholder="password"
      formControlName="password"
      required
      type="password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Role</mat-label>
    <mat-select formControlName="role">
      <mat-option [value]="'admin'"> Administrator </mat-option>
      <mat-option [value]="'user'"> User </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="accent" (click)="manageStudent()">Submit</button>
</form>
@if (!!student) {
<h5>Students:</h5>
<mat-list role="list">
  @for (course of courses; track course.id) {
  <mat-list-item role="listitem"
    >{{ course.title }}
    <button
      *ngIf="course.students.includes(student.id)"
      mat-icon-button
      (click)="removeStudentFromCourse(course)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      *ngIf="!course.students.includes(student.id)"
      mat-icon-button
      (click)="addStudentToCourse(course)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-list-item>
  }
</mat-list>
}
